<a href="https://colab.research.google.com/github/Mili3101/retail-sales-analysis/blob/development/Proyecto_I_%E2%80%93_Parte_III_(.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carga de Datos

In [ ]:
import pandas as pd

In [ ]:
path = "/content/drive/MyDrive/Data Science - Skillnet/Ejercicios Core/BBDD/retail_sales_dataset.csv"
df = pd.read_csv(path)

# Limpieza de datos

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [ ]:
df.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

In [ ]:
#se cambian espacios por guion bajo y se eliminan mayúsculas.
df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_")

In [ ]:
# Convertir la columna Date a datetime
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    1000 non-null   int64
 1   date              1000 non-null   datetime64[ns]
 2   customer_id       1000 non-null   object
 3   gender            1000 non-null   object
 4   age               1000 non-null   int64
 5   product_category  1000 non-null   object
 6   quantity          1000 non-null   int64
 7   price_per_unit    1000 non-null   int64
 8   total_amount      1000 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 70.4+ KB

# Transformación de datos

In [ ]:
#Crea una columna que clasifique las ventas en categorías significativas (e.g., ‘Alta’, ‘Media’, ‘Baja’).

clase_ventas = [0, df['total_amount'].quantile(0.3), df['total_amount'].quantile(0.7), df['total_amount'].max()]
label_ventas = ['Baja', 'Media', 'Alta']
df['clase_ventas'] = pd.cut(df['total_amount'], bins=clase_ventas, labels=label_ventas)

In [ ]:
df[df['clase_ventas']== 'Baja']

,transaction_id,date,customer_id,gender,age,product_category,quantity,price_per_unit,total_amount,clase_ventas
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,Baja
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30,Baja
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50,Baja
11,12,2023-10-30,CUST012,Male,35,Beauty,3,25,75,Baja
17,18,2023-04-30,CUST018,Female,47,Electronics,2,25,50,Baja
...,...,...,...,...,...,...,...,...,...,...
987,988,2023-05-28,CUST988,Female,63,Clothing,3,25,75,Baja
988,989,2023-12-28,CUST989,Female,44,Electronics,1,25,25,Baja
991,992,2023-08-21,CUST992,Female,57,Electronics,2,30,60,Baja
994,995,2023-04-30,CUST995,Female,41,Clothing,1,30,30,Baja
995,996,2023-05-16,CUST996,Male,62,Clothing,1,50,50,Baja

In [ ]:
#Clasifica las ventas por categoria de producto
ventas_categorias = df.groupby('product_category')['total_amount']

In [ ]:
ventas_categorias.value_counts()

product_category  total_amount
Beauty            100             35
                  50              27
                  200             21
                  1500            21
                  1000            20
                  75              19
                  25              18
                  900             18
                  90              17
                  30              16
                  500             14
                  1200            14
                  60              13
                  2000            13
                  600             11
                  120             10
                  150             10
                  300             10
Clothing          50              39
                  100             37
                  900             23
                  25              21
                  200             21
                  500             20
                  1200            20
                  120             19
                  60              17
                  150             17
                  2000            17
                  90              16
                  75              15
                  600             15
                  1500            15
                  300             14
                  30              13
                  1000            12
Electronics       50              49
                  100             36
                  30              22
                  300             22
                  900             21
                  200             20
                  1200            20
                  2000            19
                  500             17
                  1000            17
                  60              15
                  150             15
                  120             14
                  1500            14
                  25              12
                  90              11
                  75               9
                  600              9
Name: count, dtype: int64

In [ ]:
#Clasifica las ventas por grupo de edades

ventas_edad = df.groupby('age')['total_amount']

In [ ]:
ventas_edad.value_counts()

age  total_amount
18   75              3
     90              2
     100             2
     500             2
     1200            2
                    ..
64   2000            2
     90              1
     200             1
     600             1
     1000            1
Name: count, Length: 571, dtype: int64

In [ ]:
 #Ordena las ventas por genero y tipo de producto
ventas_generos= df.groupby(['product_category', 'gender'])['total_amount'].agg(
    ventas_totales='sum',
    ventas_prom='mean',
    cuenta_transact='count'
).reset_index()

In [ ]:
ventas_generos.value_counts()

product_category  gender  ventas_totales  ventas_prom  cuenta_transact
Beauty            Female  74830           450.783133   166                1
                  Male    68685           487.127660   141                1
Clothing          Female  81275           467.097701   174                1
                  Male    74305           419.802260   177                1
Electronics       Female  76735           451.382353   170                1
                  Male    80170           466.104651   172                1
Name: count, dtype: int64

In [ ]:
#Avanzadas
# Porcentaje del total por categoría
category_porcentaje = df.groupby('product_category')['total_amount'].sum() / df['total_amount'].sum() * 100

In [ ]:
category_porcentaje

product_category
Beauty         31.472588
Clothing       34.118421
Electronics    34.408991
Name: total_amount, dtype: float64

In [ ]:
# Comparación entre géneros
gender_comparison = df.pivot_table(
    index='product_category',
    columns='gender',
    values='total_amount',
    aggfunc=['sum', 'mean']
)

In [ ]:
gender_comparison

                    sum               mean
gender           Female   Male      Female        Male
product_category
Beauty            74830  68685  450.783133  487.127660
Clothing          81275  74305  467.097701  419.802260
Electronics       76735  80170  451.382353  466.104651

In [ ]:
# Top 3 categorías de producto por ventas totales
top_categorias = df.groupby('product_category')['total_amount'].sum()
top_categories = top_categorias.sort_values(ascending=False)

In [ ]:
top_categorias

product_category
Beauty         143515
Clothing       155580
Electronics    156905
Name: total_amount, dtype: int64

In [ ]:
# Top 3 productos por género en cada grupo etario

agrupar = df.groupby(['gender', 'product_category'])['total_amount'].sum()
top3 = agrupar.groupby(level=[0], group_keys=False).nlargest(3)
top3_df = top3.reset_index()
top_combinations = top3_df.sort_values(by='total_amount', ascending=False)

In [ ]:
top_combinations

   gender product_category  total_amount
0  Female         Clothing         81275
3    Male      Electronics         80170
1  Female      Electronics         76735
2  Female           Beauty         74830
4    Male         Clothing         74305
5    Male           Beauty         68685

In [ ]:
#Generamos archivo procesado, para almacenarlo y usarlo en futuro análisis

df.to_csv('retail_sales_processed.csv', index=False)

#Descargamos archivo en directorio local, y lo subimos a Drive para asegurar uso futuro.
from google.colab import files
files.download('retail_sales_processed.csv')